Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -readability-uppercase-literal-suffix,
  -readability-braces-around-statements,
  -clang-analyzer-optin.portability.UnixAPI,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -bugprone-invalid-enum-default-initialization,
  -readability-implicit-bool-conversion
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*|tests/.*'
